		<div class="stage" id="college">
			<h2>The Sixth Form College Farnborough</h2>
			<h3>A Levels</h3>
			<p>2020 - 2022</p>
			<p>
				I studied for my A Levels at The Sixth Form College Farnborough.
				<p class="hint">(Click the course names to view the college course pages)</p>
			</p>
			<h4>Courses and grades</h4>
			<ul>
				<!-- Computer Science (A) Maths (A*) Further Maths (A) Physics (B) -->
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_mathematics">Maths</a> - A*</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_mathematicsandfurthermathematics">Further Maths</a> - A</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_computerscience">Computer Science</a> - A</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_physics">Physics</a> - B</li>
			</ul>
		</div>
