<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style/global.css">
	<link rel="stylesheet" href="/style/education.css">
	<title>##NAME## - Education</title>
</head>
<body>
	##NAV##
	<div class='container'>
	<div class="pagetitle">
	<h1 style=font-size:xxx-large;margin-bottom:0;margin-top:0;>Education</h1>
	<h3 style=padding-top:0;margin-top:0></h2>
	</div></div>
	<div class="container">
		<div class="stage" id="uni">
			<h2>University of Warwick</h2>
			<h3>BSc Cyber Security</h3>
			<p>2022 - 2025</p>
			<p>
				I am currently studying a BSc in Cyber Security at the University of Warwick.
				<p class="hint">(Click the module codes to view the uni module pages)</p>
			</p>
			<h4>Years, modules and grades</h4>
			<ul>
				<li>1st Year - 75.9% (1st) <br>
					During my first year I took 6 modules, each requiring different skills and knowledge.
					<ul class="modules">
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM140-18">WM140</a> - Cyber Systems Architecture and Organisation - 72% (1st)</li>
						WM140 allowed me to explore how different computer architectures use abstractions to represent programs and data.
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM141-18">WM141</a> - Discrete Structures for Cyber Security - 81% (1st)</li>
						In WM141 I used discrete mathematics to prove theorems and solve problems as well as tackle CTF style cryptographic challenges.
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM143-24">WM143</a> - Networks, Communications and Cyber Defence - 72% (1st)</li>
						WM143 was my favourite module of the year and taught me about the fundamentals of setting up and securing networks.<br> We used a platform called netkit to create virtual networks and then used tools such as wireshark to analyse the traffic.
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM144-18">WM144</a> - Operating Systems in the Cyber Context - 78% (1st)</li>
						Across the year I have learnt about how operating systems handle scheduling, memory management and file systems in WM144.
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM145-24">WM145</a> - Software Development and Security - 77% (1st)</li>
						I learnt fundamental cloud development skills such as Infrastructure as code in the form of Cloudformation, Secure Code Design and much more in WM145.
						<li><a target="_blank" href="https://courses.warwick.ac.uk/modules/2022/WM179-18">WM179</a> - Cyber Fundamentals - 76% (1st)</li>
						WM179 was split into two parts. <br>
						The first part was a series of lectures on the fundamentals of cyber security where we learnt about topics such as attack modeling techniques in the context of the cyber kill chain<br>
						The second part was a series of labs where we learnt about penetration testing and how to use tools such as nmap and metasploit.
					</ul>
				</li>
			</ul>	
		</div>
		<div class="stage" id="college">
			<h2>The Sixth Form College Farnborough</h2>
			<h3>A Levels</h3>
			<p>2020 - 2022</p>
			<p>
				I studied for my A Levels at The Sixth Form College Farnborough.
				<p class="hint">(Click the course names to view the college course pages)</p>
			</p>
			<h4>Courses and grades</h4>
			<ul>
				<!-- Computer Science (A) Maths (A*) Further Maths (A) Physics (B) -->
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_mathematics">Maths</a> - A*</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_mathematicsandfurthermathematics">Further Maths</a> - A</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_computerscience">Computer Science</a> - A</li>
				<li><a target="_blank" href="https://farnborough.ac.uk/course/alevel_physics">Physics</a> - B</li>
			</ul>
		</div>
	</div>
</body>
</html>
