<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style/global.css">
	<title>##NAME##</title>
</head>
<body>
	##NAV##
	<div class="container">
	<h1 style=font-size:xxx-large>Hello, I&#39;m Tom</h1>
	<p>
	An 18 year old cyber security student studying at <a target="_blank" style="text-decoration: underline;color:inherit;"  href="https://warwick.ac.uk/study/undergraduate/courses/cybersecurity/">the University of Warwick</a>.	</p>
	<p> You can find some of my projects <a href="projects" style="text-decoration: underline;color: inherit;">here</a>. </p>
	</div>
</body>
</html>
