	<nav class="navBar">
		<ul class="navBar__list">
		<li class="navBar__list__padding">
		<li class="navBar__list__padding">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="skills">Skills</a>
		</li>
		<li>
			<a href="projects">Projects</a>
		</li>
		<li>
			<a href="education">Education</a>
		</li>
	<li style="display:none;">
			<a href="posts">Posts</a>
		</li>
		<li>
			<a href="contact">Contact</a>
		</li>
		<li class="navBar__list__padding">
		<li class="navBar__list__padding">
		</ul>
	</nav>
