<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style/global.css">
	<link rel="stylesheet" href="/style/projects.css">
	<title>##NAME## - Projects</title>
</head>
<body>
	##NAV##	
	<div class=container>
	<div class="pagetitle">
	<h1 style=font-size:xxx-large;margin-bottom:0;margin-top:0;>Projects</h1>
	<h3 style=padding-top:0;margin-top:0;margin-bottom:0;>Some of my public facing projects</h3>
	<h4 style=padding-top:0;margin-top:0>More of my less published projects can be found on my <a target="_blank" style="color: inherit;text-decoration: underline;" href="https://github.com/tomsteer1">github</a></h4>
	</div>
	<div class=project-list>
	##PROJECTS##
	</div>
	</div>
</body>
</html>
